*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
}

.container {
    width: 600px;
    height: 800px;
    position: relative;
    margin: 0 auto;
}

.ui,
.start-screen,
.ship-screen,
.end-screen,
.pause-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#game {
    z-index: 1;
}

.ui {
    display: none;
}

.score {
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
}

.start-screen {
    z-index: 2;
    text-align: center;
    font-size: 32px;
}

.start-screen .game-title {
    margin-bottom: 2.7em;
}

.start-game {
    margin-bottom: 3em;
}

.controls {
    list-style-type: none;
    font-size: 16px;
    margin: 0 0 5.4em 0;
    padding: 0;
}

.controls li {
    margin: 1em 0;
}

.copyright {
    font-size: 16px;
}

.disclaimer {
    font-size: 11px;
    line-height: 1.6;
}

.ship-screen {
    z-index: 2;
    text-align: center;
    font-size: 32px;
    display: none;
}

.ship-screen .game-title {
    margin-bottom: 2em;
}

.ship-screen h3 {
    padding-left: 10px;
}

.ships {
    height: 10.05em;
}

.ship {
    display: inline-block;
    text-indent: 100%;
    width: 99px;
    height: 75px;
    overflow: hidden;
    white-space: nowrap;
    margin: 1em;
    opacity: 0.7;
}

.ship:hover,
.ship.active {
    opacity: 1;
}

.ship#red {
    background: url(../images/player-red.png) center center no-repeat;
}

.ship#green {
    background: url(../images/player-green.png) center center no-repeat;
}

.end-screen {
    z-index: 2;
    text-align: center;
    font-size: 32px;
    display: none;
}

.end-screen .game-title {
    margin-bottom: 1.25em;
}

.end-screen h3 {
    font-size: 32px;
    line-height: 1.5;
    text-transform: uppercase;
}

.scores {
    display: block;
    font-size: 24px;
    list-style-type: none;
    padding: 0;
    margin: 0 0 1em 0;
    height: 8em;
}

.scores li {
    line-height: 1.5;
}

.scores span {
    display: inline-block;
}

.scores .current span {
    -webkit-animation: blink .5s linear infinite;
    -moz-animation: blink .5s linear infinite;
    -o-animation: blink .5s linear infinite;
    animation: blink .5s linear infinite;
}

.restart-game {
    margin-bottom: 2.95em;
}

.button {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    text-transform: uppercase;
    background: #fff;
    line-height: 3;
    padding: 0 1em;
    display: inline-block;
    position: relative;
    border: 2px solid #000;
    outline: 2px solid #fff;
    cursor: pointer;
    color: #000;
}

.button:hover {
    background: #000;
    color: #fff;
}

.button:active {
    background: #fff;
    color: #000;
    top: 3px;
    left: -3px;
}

.pause-screen {
    display: none;
    z-index: 2;
    text-align: center;
    padding-top: 15em;
}

.pause-screen h3 {
    font-size: 42px;
}

.pause-screen h4 {
    font-size: 18px;
}

.pause-screen h3 {
    -webkit-animation: blink .5s linear infinite;
    -moz-animation: blink .5s linear infinite;
    -o-animation: blink .5s linear infinite;
    animation: blink .5s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
